.HomeCont{
    width: 100%;
    /* height: 89vh; */
    position: relative;
}


.HomeSect1{
  width: 100%;
  height: 100%;
  display: flex;    
  align-items: center;
  justify-content: space-evenly;
  background-color: #EFEFEF;
  padding: 80px 0;
  flex-wrap: wrap;
}



  
.HomeSect1__contleft{
  margin-left: -450px;
  transition: margin-left 1s ease-in-out;
  animation: aparecer 1s forwards;
  margin-right: 20px;
}

@keyframes aparecer {
  to {
    margin-left: 0; 
  }
}

.HomeSect1__FotoSanti{
  width: auto;
  height: 65vh;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 5px rgb(108, 108, 108);
}



.HomeSect1__contRight{
  min-height: 65vh;
  width: 40%;
  /* background-color: rgba(217, 212, 185, 0);
  box-shadow: 1px 1px 5px 5px rgb(108, 108, 108);
  border-radius: 5px; */

  margin-right: -450px;
  transition: margin-left 1s ease-in-out;
  animation: aparecer2 1s forwards;
}

@keyframes aparecer2 {
  to {
    margin-right: 0; 
  }
}


.HomeSect1__Title{
  text-align: center;
}

.HomeSect1__Text{
  text-align: justify;
}



.HomeSect2{
  position: relative;
}

.HomeSect2__Header{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -27px;
}

.HomeSect2__title{
  background-color: #59AB6E;
  color: #ffff;
  border-radius: 5px;
  padding: 5px 15px;
}



.HomeSect2__Main{
  padding-top: 70px;    
}


.HomeSect2__Opciones{
  display: flex;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 13px 1px rgb(177, 174, 174);
  cursor: pointer;
}

.HomeSect2__btnleft{
  width: 50%;
  text-align: center;
  padding: 3px 0;
  border-radius: 5px 0px 0px 5px;
}


.HomeSect2__btnRight{
  width: 50%;
  text-align: center;
  border-radius: 0 5px 5px 0;
  padding: 3px 0;
}

.btnSelected1{
  background-color: #59AB6E;
  color: #ffff;
}




.HomeSect2__ContSkills{
  box-shadow: 0px 0px 10px 0px rgb(119, 118, 118);
  border-radius: 5px;
  width: 80vw;
  margin: 15px auto;
  padding: 15px 0;
  background-color: #ffff;
  position: relative;
  z-index: 2;
  }

  .quitarPadding{
    padding: 0;
  }

.HomeSect2__itemTecn{
  width: 97%;
  border-radius: 10px;
  margin: 10px auto;
}

.Color_green{
  background-color: #27ae60;
}

.Color_lightYellow{
  background-color: #C8E645;
}

.Color_Orange{
  background-color: rgba(241, 151, 15, 0.73);
}


.HomeSect2__TitElemnt{
  padding: 5px 7px;
  border-radius: 10px 10px 0 0;
  background-color: #ffff;
  display: inline-block;
  margin-bottom: 0;
  border-top: solid black 1px ;
  border-left: solid black 1px ;
  border-right: solid black 1px ;
  cursor: pointer;
}

.HomeSect2__TitElemnt2{
  padding-top: 7px;
  padding-left: 15px;
}

.divisionLinea{
  margin-top: 0px;
  border: solid 1.5px rgba(0, 0, 0, 0.601);
  margin-bottom: 5px;
}

.HomeSect2__ContLogos{
  display: flex;
  gap: 13px;
  padding: 10px 35px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.HomeSect2__Logos{
  height: 50px;
  width: 100px;
  background-color: #ffff;
  border-radius: 5px;
}

.HomeSect2_LogosItem{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


.HomeSect2__main2{
  margin: 0 auto;
  width: 80vw;
  position: relative;
}



.VistaHabBlandas{ /* Cambiar vista de habilidades blandas */
  height: 50px;
  margin: 0 auto;
  display: block;
  border: solid 1px black;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  z-index: 1;

  transition: transform 0.3s;
}

.moveBtnHVIzq{
  transition: transform 0.3s;
  transform: translateX(-50px);
  box-shadow: 0px 0px 10px 1px rgb(112, 111, 111);
}

.VistaHabBlandas--hover:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px #59AB6E;
}

.habBlandas{
  display: flex;
  flex-wrap: wrap;
}



.habBlandas__Item{
  width: 50%;
  display: flex;
  padding: 20px 30px;
  justify-content: space-evenly;
  align-items: center;
}

.bordeRadioLeft_up{
  border-radius: 5px 0 0 0;
}

.bordeRadioRight_up{
  border-radius: 0 5px 0 0;
}

.bordeRadioLeft_down{
  border-radius: 0 0 0 5px;
}

.bordeRadioRight_down{
  border-radius: 0 0 5px 0;
}

.ColorGray{
  background-color: #EFEFEF;
}



.borderLeft{
  border-left: solid 1px #59AB6E;
}

.borderRight{
  border-right: solid 1px #59AB6E;
}

.habBlandas__Icono{
  height: 130px;
  width: 130px;
}

.habBlandas__Text1{
  width: 60%;
  text-align:justify;
  margin-bottom: 0px;
}


.MaxWith1000px{
  max-width: 1000px;
  min-height: 400px;
}


.habBlandas2{
  display: flex;
  justify-content: space-evenly;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.habBlanTargeta{
  border: solid 1px rgb(88, 88, 88);
  padding: 5px 20px;
  box-shadow: 0 0 14px 1px;
  margin: 0 30px;
  margin-top: 30px;
}

.habBlanTargeta__title{
 text-align: center;
 font-weight: bold;
 font-size: 17px;
}

.habBlanTargeta__icono{
  width: 100px;
  margin: 0 auto;
  display: block;
}

