.HomeCont{
    width: 100%;
    /* height: 89vh; */
    position: relative;
}


  .HomeSect1{
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    background-color: #EFEFEF;
    padding: 80px 0;
  }



  
  .HomeSect1__contleft{
    margin-left: -450px;
    transition: margin-left 1s ease-in-out;
    animation: aparecer 1s forwards;
  }

  @keyframes aparecer {
    to {
      margin-left: 0; 
    }
  }
  
  .HomeSect1__FotoSanti{
    width: auto;
    height: 65vh;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgb(108, 108, 108);
  }



  .HomeSect1__contRight{
    height: 65vh;
    width: 40%;
    /* background-color: rgba(217, 212, 185, 0);
    box-shadow: 1px 1px 5px 5px rgb(108, 108, 108);
    border-radius: 5px; */

    margin-right: -450px;
    transition: margin-left 1s ease-in-out;
    animation: aparecer2 1s forwards;
  }

  @keyframes aparecer2 {
    to {
      margin-right: 0; 
    }
  }


  .HomeSect1__Title{
    text-align: center;
  }

  .HomeSect1__Text{
    text-align: justify;
  }



  .HomeSect2{
    position: relative;
  }

  .HomeSect2__Header{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: -27px;
  }

  .HomeSect2__title{
    background-color: #59AB6E;
    color: #ffff;
    border-radius: 5px;
    padding: 5px 15px;
  }


  .HomeSect2__Opciones{
    
  }


